.wall-clock {
    font-size: 50px;
}

.wall-clock:hover{
    cursor: pointer;
}

.alarm-digits {
    overflow: hidden;
}

.alarm-digit {
}

.alarm-digit button {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #adadad;
}

.alarm-digit input {
    font-size: 50px;
    line-height: 50px;
    height: 64px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

.alarm-digit input:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.alarm-container {
    overflow: hidden;
    width: 700px;
    margin: 0 auto;
}

.comment {
    margin-top: 15px;
    display: relative;
}

.comment input.form-control {
    width: 80%;
    position: relative;
    display: inline-block;
}

.comment button {
    width: 20%;
    position: relative;
    display: inline-block;
}
.alarmList .row{
    margin: 0 0;
}