  <!-- Jquery -->
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Handlebar template plugin -->
  <script type="text/javascript" src="/javascripts/handlebars.js"></script>
  <script src="/javascripts/speech.js"></script>
  <script src="/javascripts/weather.js"></script>
  <script src="/javascripts/application.js"></script>
  <%- include('../partials/_city_list_template') %>
  <%- include('../partials/_loader_icon') %>
</body>
</html>